////////////////////////////////////////////////////////////////////////////////
//
//  Mixins
//
////////////////////////////////////////////////////////////////////////////////

/*
+ * Mobile First approach to break points
+ *
+ * http://responsivedesign.is/strategy/page-layout/defining-breakpoints
+ * TL;DR
+ * Instead of being concerned with device breakpoints the best practice is to
+ * design for your smallest viewport first.  As you expand that view there will
+ * come a point at which the design looks terrible.
+ *
+ * This is where you add a break point.
+ */

$mainBreak: 1180px;
@mixin breakpoint($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//Hide text without using indent-text: -9999px
@mixin hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-position: inside;
}

//Make a element not selectable
@mixin not-selectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


@mixin container {
  position: relative;
  margin: 0 auto;
  max-width: $mainBreak;

  &:before {
    display: table;
    content: " ";
  }
}
