////////////////////////////////////////////////////////////////////////////////
//
//  Colours
//
////////////////////////////////////////////////////////////////////////////////

$white:   #fff;
$black:   #000;

////////////////////////////////////////////////////////////////////////////////
//
//  Typography
//
////////////////////////////////////////////////////////////////////////////////





////////////////////////////////////////////////////////////////////////////////
//
//  Breakpoints
//
////////////////////////////////////////////////////////////////////////////////

$mainBreak: 1080px;
$secondBreak: 1000px;




