////////////////////////////////////////////////////////////////////////////////
//
//  Table
//
////////////////////////////////////////////////////////////////////////////////

/*
Generic Styling, for Desktops/Laptops
*/
table {
  width: 100%;
  border-collapse: collapse;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
  Label the data
  */

  #dynamic-table {
    color: $black;
    td:nth-of-type(1):before { content: "Athlete Id"; }
    td:nth-of-type(2):before { content: "Dossard"; }
    td:nth-of-type(3):before { content: "FirstName"; }
    td:nth-of-type(4):before { content: "LastName"; }
    td:nth-of-type(5):before { content: "Garmin Speed Cadence"; }
    td:nth-of-type(6):before { content: "GPS"; }
    td:nth-of-type(7):before { content: "HRM"; }
    td:nth-of-type(8):before { content: "Object Id"; }
    td:nth-of-type(9):before { content: "Power Meter"; }
    td:nth-of-type(10):before { content: "Quarq Power Meter"; }
    td:nth-of-type(11):before { content: "Speed Cadence"; }
    td:nth-of-type(12):before { content: "Srm Power Meter"; }
    td:nth-of-type(13):before { content: "Team"; }
    td:nth-of-type(14):before { content: "Vector Power Meter"; }
    td:nth-of-type(15):before { content: "Wheel Cir"; }
  }
}

#wrapper-table {
  transition: all 0.5s ease;
  &.hidden {
    opacity: 0;
  }
}

#dynamic-table {
  display: table;
  border-collapse: separate;
  margin: 50px auto;

  tr {
    transition: all 0.3s ease;
    &:nth-child(odd) {
      background-color: #323C50;
    }
    &:nth-child(even) {
      background-color: #2C3446;
    }
    &.active {
      background-color: #464A52;
      box-shadow: 0 6px 6px -6px #0E1119;
    }
  }

  th {
    background-color: #1F2739;
    h1 {
      font-weight: bold;
      font-size: 1em;
      text-align: left;
      color: #185875;
    }
  }

  td {
    text-align: center;
    font-weight: normal;
    font-size: 1em;
    min-width: 70px;
    box-shadow: 0 2px 2px -2px #0E1119;
    cursor: pointer;
    &:first-child {
      color: #7FB462;
    }
    &:not(.empty):hover {
      background-color: #FFF842;
      color: #403E10;
      font-weight: bold;
      box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
      transform: translate3d(6px, -6px, 0);
      transition: all 0.4s;
    }
  }
  td, th {
    padding: 10px;
  }
  .hideField {
    display: none;
  }
}

@media (max-width: 800px) {
  .container td:nth-child(4),
  .container th:nth-child(4) { display: none; }
}







