.spinner {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  &.hidden {
    opacity: 0;
  }
  &.smaller {
    margin: auto;
    top: auto;
    left: auto;
    bottom: 30px;
    right: auto;
    display: inline-block;
    margin-left: 15px;
  }
}

.cube1, .cube2, .cube3, .cube4 {
  position: absolute;
  top: 0;
  left: 0;
}

.cube1, .cube2 {
  width: 15px;
  height: 15px;
  background-color: rgba(50,60,80,1);
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube3, .cube4 {
  width: 5px;
  height: 5px;
  background-color: rgba(129,199,132,1);
  animation: sk-cubemove-short 1.8s infinite ease-in-out;
}

.cube2, .cube4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes sk-cubemove-short {
  25% { -webkit-transform: translateX(22px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(22px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove-short {
  25% {
    transform: translateX(22px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(22px) translateY(22px) rotate(-179deg);
  } 50.1% {
    transform: translateX(22px) translateY(22px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(22px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
  }
}




